:root {
  --colorWhite: #ffffff;
  --colorBlack: #000;
  --colorDefault: #234567;
  --colorRed: #ff0000;
  --colorTeal:  #00ffff;
  --colorHeading: #9fae30;
  --colorHeading2: #404000;
  --colorHeading3: #003fc0;
  --alphaRgb1: rgba(172, 100, 0, 0.5);
  --alphaRgb2: rgba(172, 100, 215, 0.25);
  --hexRgb1: #250912a0;
  --hexRgb2: #efffef50;
}
