:root {
  --colorWhite: #ffffff;
  --colorBlack: #000;
  --colorDefault: #234567;
  --colorRed: #ff0000;
  --colorTeal:  #00ffff;
  --colorHeading: #9fae30;
  --colorHeading2: #404000;
  --colorHeading3: #003fc0;
  --colorHeading4: rgb(172, 100, 0);
  --colorHeading5: rgba(172, 100, 0, 0.8);
  --colorHeading6: #ffffff99;
}
